Checks: "
  -*,
  bugprone-*,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -google-readability-namespace-comments,
  -google-runtime-int,
  -google-runtime-references,
  -google-explicit-constructor,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes,
  -readability-named-parameter,
  -readability-identifier-length,
  -readability-braces-around-statements,
  -readability-magic-numbers
"

WarningsAsErrors: ''
HeaderFilterRegex: '.*libtsndgm[^\/]*\/(src|benchmarks).*\/*\/.*h'
FormatStyle:     none

CheckOptions:
  - key:    bugprone-easily-swappable-parameters.IgnoredParameterNames
    value:  iterator;begin;end;first;last;lhs;rhs;min;max;""

# Classes, structs, ...
  - key:    readability-identifier-naming.NamespaceCase
    value:  lower_case
  - key:    readability-identifier-naming.ClassCase
    value:  CamelCase
  - key:    readability-identifier-naming.StructCase
    value:  CamelCase
  - key:    readability-identifier-naming.EnumCase
    value:  CamelCase
  - key:    readability-identifier-naming.UnionCase
    value:  CamelCase
  - key:    readability-identifier-naming.TypedefCase
    value:  CamelCase
  - key:    readability-identifier-naming.TypeAliasCase
    value:  CamelCase

# Variables, member variables, ...
  - key:    readability-identifier-naming.ParameterCase
    value:  lower_case
  - key:    readability-identifier-naming.VariableCase
    value:  lower_case
  - key:    readability-identifier-naming.MemberCase
    value:  lower_case
  - key:    readability-identifier-naming.EnumConstantCase
    value:  UPPER_CASE
  - key:    readability-identifier-naming.PublicMemberCase
    value:  aNy_CasE
  - key:    readability-identifier-naming.ConstexprVariableCase
    value:  aNy_CasE
  - key:    readability-identifier-naming.ConstantMemberCase
    value:  aNy_CasE
  - key:    readability-identifier-naming.StaticConstantCase
    value:  aNy_CasE
  - key:    readability-identifier-naming.StaticVariableCase
    value:  aNy_CasE
  - key:    readability-identifier-naming.GlobalConstantCase
    value:  aNy_CasE
  - key:    readability-identifier-naming.GlobalVariableCase
    value:  aNy_CasE
  - key:    readability-identifier-naming.ProtectedMemberCase
    value:  lower_case
  - key:    readability-identifier-naming.PrivateMemberCase
    value:  lower_case
  - key:    readability-identifier-naming.PrivateMemberSuffix
    value:  _
  - key:    readability-identifier-naming.ProtectedMemberSuffix
    value:  _

# Functions, methods, ...
  - key:    readability-identifier-naming.FunctionCase
    value:  lower_case
  - key:    readability-identifier-naming.MethodCase
    value:  lower_case
